@import url('https://fonts.googleapis.com/css?family=Raleway');

body{
	padding: 0;
	margin: 0;
	background:#f4f4f4;

}
html,h1,h2,h3,h4,h5,h6,a{
	font-family: "Raleway";
}

::-webkit-scrollbar {
  width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}
::-webkit-scrollbar{width : 15px;  }
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(150, 150, 150);
  border-radius: 10px;
}

.navbar{
	background:#582394;
}
.nav-link , .navbar-brand{
	color: #f4f4f4;
	cursor: pointer;
}
.nav-link{
	margin-right: 1em !important;
}
.nav-link:hover{
	color: #a575dd;

}
.navbar-collapse{
 justify-content: flex-end;
}
.navbar-toggler{
  background:#fff !important;
}

/* phone */

@media only screen and (max-width: 768px) {
	.about img {
	  width: 40%;
	  height: 40%;
	}
  }
  @media (max-width:767px) {
    .about img {
        max-width: 100%;
        max-height: 100%;
    }
}

@media (min-width:768px) {
    .about img {
        max-width: 240px;
        max-height: 240px;
    }
}

@media (min-width:992px) {
    .about img {
        max-width: 314px;
        max-height: 314px;
    }
}

@media (min-width:1200px) {
    .about img {
        max-width: 380px;
        max-height: 380px;
    }
}


@media only screen and (max-width: 768px) {
	.touch {
	  display: inline!important;
	  margin: 5em!important;
	  padding: 5em!important;
	}
  }

  @media only screen and (max-width: 768px) {
	.touch img {
	  display: inline-block;
	  padding: 5px;
	  margin: 5px;
	}
  }

  @media only screen and (max-width: 768px) {
	.darkb {
	  padding-bottom: 20px;
	  margin-bottom: 20px;
	}
  }

  @media only screen and (max-width: 768px) {
	.about img {
	  display: inline-block;
	  padding: 5px;
	  margin: 5px;
	  margin-left: 40px;
	}
  }

  @media only screen and (max-width: 768px) {
	.contact-form h1 {
	  text-align: center!important;
	}
  }



/*header style*/
.header{
	position: relative;
	background-color: #582394;
	background-size: cover;
	background-position: center;
}
.overlay{
	position: absolute;
	min-height: 100%;
	min-width: 100%;
	left: 0;
	top: 0;
	background: rgba(244, 244, 244, 0);
}
.description{
    position: absolute;
    top: 30%;
    margin: auto;
    padding: 2em;

}
.description h1{
	color:whitesmoke ;
	line-height: 2em;
}
.description p{
	color:whitesmoke;
	font-size: 20px;
	width:100%;
	line-height: 1.5;
	text-align: center;
}

.text-center {
    text-align: center;
  }


.description button{
	border:1px  solid #ed733f;
	background:#ed733f;
	color:#fff;
}

.description button:hover{
	cursor: pointer;
}

/* about */

.about{
	margin: 4em 0;
	padding: 1em;
	position: relative;
}
.about h1{
	color:#582394;
	margin: 2em;
}
.about img{
	height: 80%;
    width: 80%;
    border-radius: 50%
}


.about span{
	display: block;
	color: #888;
	position: absolute;
	left: 115px;
}
.about .desc{
	padding: 2em;
	border-left:4px solid #ed733f;
}
.about .desc h3{
	color: #582394;
}
.about .desc p{
	line-height:2;
	color:#888;
}


/*Portfolio*/
.portfolio{
	margin: 4em 0;
    position: relative;	
}
.portfolio h1{
	color:#582394;
	margin: 2em;	
}
.portfolio img{
	 height: 15rem;
	 width: 100%;
	 margin: 1em;
	 box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
   }

.portfolio p{
	text-align: center;
	color:rgb(48, 48, 48);
}
/*contact*/

.contact-form{
	margin: 6em 0;
	position: relative;		
}

.contact-form h1{
	padding:2em 1px;
	color: #582394; 
}
.contact-form .right{
	max-width: 600px;
}
.contact-form .right .btn-secondary{
	background:  #ed733f;
	color: #fff;
	border:0;
}
.contact-form .right .form-control::placeholder{
	color: #888;
	font-size: 16px;
}

.touch img{
	width:2.5em;
	height: 2.5em;
	margin-left: 2em;
}

.touch{
	padding: 2em;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 30%;
}

.footer{
	background-color: #582394;
}




/*dark button*/

/* CSS */
.darkb button {
  background-color: rgba(51, 51, 51, 0.20);
  border: solid black;
  border-radius: 5px;
  border-width: 0;
  color: #333333;
  cursor: pointer;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 700px;
  line-height: 10px;
  list-style: none;
  margin: 0;
  text-align: center;
  transition: all 200ms;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  padding: 1em;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* dark mode toggle*/

.darkmode{
	transition: 0.5s ease-in-out;
}

.darkmode .darkb button{
	color:rgb(248, 244, 237);
	border: solid white;
}

.darkmode {
	background-color: rgb(26, 26, 26);
}

.darkmode header{
	background-color: #220d3a;
}

.darkmode .navbar{
	background-color:#220d3a;
}

.darkmode .footer{
	background-color:#220d3a;
}

.darkmode .about h3{
	color:#dcbdff;
}

.darkmode .nav-link , .navbar-brand{
	color: #f4f4f4;
}

.darkmode .nav-link:hover{
	color: #845cb1;

}
.darkmode .navbar-toggler{
  background:#fff !important;
}

/*header style*/
.darkmode .overlay{
	background: rgba(244, 244, 244, 0);
}
.darkmode h1{
	color:whitesmoke ;
}
.darkmode p{
	color:whitesmoke;
}

.darkmode .header button{
	border:1px  solid #ed3f3f;
	background:#ed3f3f;
	color:#fff;
}

.darkmode .contact-form .btn{
	background:  #9b2828;
	color: #fff;
	border:0;
}

/* about */


.darkmode .about span{
	color: rgb(247, 238, 238);
}

.darkmode .about .desc p{
	color:rgb(255, 227, 227);
}

.darkmode .about .desc{
	padding: 2em;
	border-left:4px solid #7a2121;
}

.darkmode .touch img{
	background-color:rgba(252, 252, 252, 0.9);
	padding: 2px;
}

/* scrolling reveal effect*/

.reveal{
	position: relative;
	transform: translateY(150px);
	opacity: 0;
	transition: 1s all ease;
  }
  .reveal.active{
	transform: translateY(0);
	opacity: 1;
  }